<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <%- include("partials/nav-unsigned") %>
    <!-- Title -->
    <div class="row title-row">
      <h1 class="title" id="title-index"> Present Yourself Professionally <br> On the Online World </h1>
    </div>
  </div>
</section>
<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%;">
  <div class="container">
    <h1 class="display-2" style="margin-bottom: 3%;">Build your Portfolio for free!</h1>
    <p class="lead" style="font-size: 1.5rem;">
        <strong><em>Create Portfolio</em></strong> is a platform for everyone to build their Portfolio and set it <strong>LIVE</strong>. 
        <br>Fill in your data and share it with your network.
    </p>
  </div>
</div>

<!-- Testimonials -->
<section class="testimonials">
    <div id="testimonial-carousel-user" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2>
                    A Portfolio reachable on the web, really helped me to share my put projects and experiences all on one page and share it with my network.
                </h2>
                <em>Michael, Berlin</em>
            </div>
            <div class="carousel-item">
                <h2 class="testimonial-text">
                    A straight-forward website to fill in my data was really time-efficient in sharing my professional info with my entourage!
                </h2>
                <em>Louis, Paris</em>
            </div>
        </div>
        <a class="carousel-control-prev" data-bs-target="#testimonial-carousel-user" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-bs-target="#testimonial-carousel-user" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<div class="jumbotron jumbotron-fluid" style="padding: 7% 10%;">
  <div class="container" style="text-align: center;">
    <h1 class="display-3" style="margin-bottom: 3%;">Join now and start your journey!</h1>
    <div>
      <form action="/login" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-outline-dark btn-lg">Login</button>
      </form>
      <form action="/register" method="get" style="display: inline-block;">
        <button type="submit" class="btn btn-dark btn-lg">Register</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/social-links") %>

<%- include("partials/footer") %>